#toner {
  background-image: url("https://live.staticflickr.com/7366/8981143896_3c83b8d382_h.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .toner {
    img {
      height: 1000px;
    }
    h1 {
      font-size: 48px;
      font-weight: 700;
      padding-top: 300px;
      padding-left: 300px;
      color: white;
    }
  }
}
